body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #E5E7EB;
    font-size: 18px;   
    display: flex; 
    flex-direction: column;
}

.body {
    margin: 0 16em;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 0 1 auto;
}

.all-content {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.centered-content {
    margin: 0 10em;
}

/* Header Section */

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-top: 1em;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: rgb(172, 172, 172);
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 3em;
    font-size: 14px;
}


/* First Section */

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    margin: 4em 0;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 0 1 450px; /* Need to fix squashing somewhere here and with picture*/
    font-size: 14px;
    color: rgb(172, 172, 172);
}

.first-signup,
.last-signup {
    width: fit-content;
    padding: 4px 24px;
    background-color: #3882F6;
    color: white;
    margin-top: 12px;
    border-radius: 8px;
    border-color: #3882F6;
}

.awesome {
    font-size: 34px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 0.5em;
}

.main-cat {
    width: 450px;
    height: 250px;
    border: none;
}


/* Second Section */

.second-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0 -10em; /*Offset margin for background?..*/
    padding: 3em 0;
}

.animal-header {
    font-size: 30px;
    color: #1F2937;
    font-weight: 900;
}

.content {
    display: flex;
    gap: 36px;
}

.pic-text {
    color: #1F2937;
    text-align: center;
    max-width: 150px;
    font-size: 14px;
    color: rgb(131, 131, 131);
}

img {
    border-radius: 8px;
}


/* Third Section */

.third-container {
    margin: 0 -10em; /*Offset margin for background?..*/
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
}

.third-content {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 28px;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-weight: 900;
    color: #1F2937;
    padding-right: 20px;
}

/*Fourth Section */

.fourth-container {
    margin: 0 -10em; /*Offset margin for background?..*/
    background-color: white;
    padding: 4em 0;
}

.sign-up-section {
    display: flex;
    margin: 0 15em;
    background-color: #3882F6;
    border-radius: 8px;
    border-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;
}

.last-signup {
    border-radius: 8px;
    border-color: white;
}

.call-to-action {
    font-weight: 600;
}

.sign-text {
    font-size: 14px;
}


/*Footer Section*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    font-size: 14px;
    color: rgb(172, 172, 172);
}